<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.eiq.JasperReports"
        version="0.0.1">
    <name>JasperReports</name>
    <description>Jasper Report implementation</description>
    <license>Apache 2.0</license>
    <keywords>cordova,jasper,report</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/jasper.js" name="JasperReports">
        <clobbers target="JasperReports" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JasperReports" >
                <param name="android-package" value="com.eiq.JasperReports"/>
            </feature>
        </config-file>
        <source-file src="src/android/JasperReports.java" target-dir="src/com/eiq/" />
        <source-file src="src/android/Xml2Pdf.java" target-dir="src/com/eiq/" />
        <source-file src="src/android/lib/jasperreports-4.0.0.jar" target-dir="libs" />
        <source-file src="src/android/lib/commons-collections4-4.0.jar" target-dir="libs" />
    </platform>
</plugin>
